<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.bee.plugin.flutter_plugin">
    <queries>
        <intent>
            <action android:name="com.hihonor.push.action.BIND_PUSH_SERVICE" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-sdk tools:overrideLibrary="com.meizu.cloud.pushinternal" />
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission android:name="${applicationId}.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.push.permission.MESSAGE" />
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>


    <application>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <service
            android:name="com.app.push.library.service.FcmService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.app.push.library.activity.NotifycationActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.test.notifycation.message"></action>
            </intent-filter>
        </activity>
<!--        <receiver android:name="com.mixpush.meizu.MeizuPushMsgReceiver"-->
<!--            android:exported="true"-->
<!--            />-->


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.mixpush.meizu.MeizuPushMsgReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息-->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />

                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="MEIZU_APP_ID"
            android:value="UNIFIEDPUSH-${MEIZU_APP_ID}" />
        <meta-data
            android:name="MEIZU_APP_KEY"
            android:value="UNIFIEDPUSH-${MEIZU_APP_KEY}" />



        <service android:name="com.app.push.library.service.MyHonorMsgService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.hihonor.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
